<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/login/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card my-5">
              <form class="card-body cardbody-color p-lg-5" action="" method="post">
                <div class="mb-3" style="text-align: center;">
                    <h3>Edit User Profile</h3>
                </div><br>
                <% if (error) { %>
                 <% error.split(",").forEach(element => { %>
                  <p style="color: red;"><%= element %></p>
                 <% }) %>
                <% } %>
                <br>

                <!-- name -->
                <div class="mb-3">
                    <label for="">Name :</label>
                  <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                    placeholder="Name" name="name" value="<%= user.UserProfile.name %>">
                </div><br>

                <!-- Profile Picture -->
                <div class="mb-3">
                    <label for="">Profile Picture :</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp"
                    placeholder="Picture" name="profilePicture" value="<%= user.UserProfile.profilePicture %>">
                </div><br>

                <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Save</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>